<p-panel header="pipes personalizados">
  <p>Pipes persoanlizados -creados por {{'nosotros' | toggleCase: true}}</p>
</p-panel>
<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <button pButton label="Togglecase" icon="pi pi-search" class="mr-2"></button>
      <button pButton label="por nombre" icon="pi pi-sort" class="mr-2"></button>
      <button pButton label="por volar" icon="pi pi-sort" class="mr-2"></button>
      <button pButton label="por color" icon="pi pi-sort" class="mr-2"></button>
    </div>
  </p-toolbar>
</div>
